a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    background-color: rgba(255, 255, 255, 0.5);
}

a.button1:hover {
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

.centriraj {
    text-align: center;
    margin-top: 2%;
}

.centriraj2 {
    text-align: center;
    margin-top: 3%;
}

.Pomeridugmice {
    margin-top: 7%;
}

.pomeriudesno {
    margin-left: 35%
}

body {
    width: 100%;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: black;
    color: white;
}

.pomeridesno {
    margin-left: 95%
}